:root {
  --drawer-width: 220px;
}

::-webkit-scrollbar {
  min-width: 12px;
  width: 12px;
  max-width: 12px;
  min-height: 12px;
  height: 12px;
  max-height: 12px;
  background: #e5e5e5;
  box-shadow: inset 0px 0px 0px #fafafa, inset 0px 0px 0px #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border: none;
  border-radius: 10px;
  border: solid 3px #e5e5e5;
  box-shadow: inset 0px 0px 3px #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0;
  box-shadow: inset 0px 0px 3px #888;
}

::-webkit-scrollbar-thumb:active {
  background: #aaa;
  box-shadow: inset 0px 0px 3px #7f7f7f;
}

::-webkit-scrollbar-button {
  display: block;
  height: 0px;
}

body {
  background-color: #000;
  color: #3c4858;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

/* Pages */
.body-content {
  width: 100%;
  height: 100%;
}

nav {
  width: var(--drawer-width);
  height: 100%;
  position: absolute;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 220px;
}

/* App container */
.base-page-wrapper {
  margin: 15px;
}

.base-page {
  width: 100%;
  height: calc(100% - 45px);
}

.drawer .paper {
  width: var(--drawer-width);
  /* background-image: url(/assets/images/sidebar-4.jpg); */
  background-size: cover;
  background-color: #191919;
  background-blend-mode: multiply;
}

.drawer .button {
  transition: all 300ms linear;
}

.drawer .button:active,
.drawer .button:focus,
.drawer .button:focus:hover {
  background-color: #555;
}

.drawer .button:hover {
  background-color: rgba(0, 0, 0, .3)
}

.drawer a,
.drawer a:hover,
.drawer a:visited,
.drawer a:focus
{
  text-decoration: none !important;
}


.drawer .icon {
  color: #fff;
  font-size: 28;
  margin: 0 auto;
  vertical-align: middle;
  margin-top: -4px;
}

.drawer .text {
  color: #fff;
}

.drawer-status {
  padding: 10px;
  height: 64px;
}

.drawer-status .material-icons {
  margin: 0 auto;
  display: block;
}

.drawer-status .material-icons.ok {
  color: #21BA45;
}

.drawer-status .material-icons.error {
  color: #ff0000;
}