
.loader-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #000;
}

.loader-vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loader {
  width: 250px;
  height: 250px;
  margin-left: -125px;
  box-sizing: border-box;
  border-top: 0.3em solid hotpink;
  border-radius: 50%;
  position: relative;
  animation: rotating 2s ease-in-out infinite;
  --direction: 1;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}

.loader::before {
  border-top: 0.3em solid dodgerblue;
  transform: rotate(120deg);
}

.loader::after {
  border-top: 0.3em solid gold;
  transform: rotate(240deg);
}

.loader-text {
  position: relative;
  color: white;
  width: inherit;
  height: inherit;
  text-align: center;
  font-family: sans-serif;
  --direction: -1;
  font-size: 25px;
  margin-left: -125px;
  margin-top: -137px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 85%;
  padding: 10px;
  animation: text-animation 2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes text-animation {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes rotating {
  50% {
      transform: rotate(calc(180deg * var(--direction)));
  }

  100% {
      transform: rotate(calc(360deg * var(--direction)));
  }
}
